<div class="recentEntries-header fileManagement-header">
    <div class="h3 fw-regular text-muted">Letter Management:</div>
      <!-- Search and Add Letter Button -->
      <div class="row mb-3">
        <div class="col-md-6 text-end">
            <button class="btn btn-primary" id="add-letter">Add New Letter</button>
        </div>
    </div>
</div>
<div class="activity2 recentEntries-tbl bg-light bg-gradient" id="letterEntries-tbl">
    <!-- <div class="recentEntries-header">
        <div class="h3 fw-regular text-muted">All Entries:</div>
    </div> -->

    <div class="table2-container table-container">
        <table class="table table-striped table-bordered table-hover display" id="letters-table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Entry Date</th>
                    <th>File Number</th>
                    <th>Subject</th>
                    <th>Officer</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
    </div>
</div>